<h2>BIENVENIDO</h2>
<h3>Ingresa tus datos</h3>
<form action='/users' method='post'>
 Nombre: <input type='text' name='nombre' id='nombre' />
 Correo: <input type='email' name='correo' id='correo' />
 Contrasena: <input type='password' name='contrasena' id='contrasena' />
  <input type='submit' value='INGRESAR' />
</form>